
<% if flash[:error] %>
    <div class="errors flash fatal">
        <h4 class="error"><%= flash[:error] %></h4>
    </div>
<% end %>

    <div class="row">
  
      <div class="card" style="width: 15rem; margin: 20px">
        <div class="text-center">
          <div class="card-header"><%= @favorite.title %></div>
          <div class="card-body" style="padding: 10px"><br><%=@favorite.content %><br><%= @favorite.category %>
    </div>
    <div class="text-left"><a class="btn btn-warning" style="margin: 20px"  href="/users/<%= user.id %>"role="button"> My Favs</a></div>